@import "styles/common/variable";
@import "styles/common/normailze";

//pages
@import "mainPage";

//Modile
@import "components/Module/UseFormInput";
@import "components/Module/ProfileUpdatePopup";
@import "components/Module/BoardItem";

//Template
@import "components/Template/Register";
@import "components/Template/Board";
@import "components/Template/WriteTemplate";

//Layout
@import "components/Layout/Header";

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}