@import "styles/common/variable";
@import "styles/common/normailze";

//pages
@import "mainPage";

//Module
@import "components/Module/UseFormInput";
@import "components/Module/ProfileUpdatePopup";
@import "components/Module/BoardItem";
@import "components/Module/AvatarItem";
@import "components/Module/CommentItem";
//Template
@import "components/Template/Register";
@import "components/Template/Board";
@import "components/Template/WriteTemplate";
@import "components/Template/Detail";
@import "components/Template/Comment";
//Layout
@import "components/Layout/Header";

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}